<! -- index.hbs -->


<body>
<h1>Use the navigation bar to manage your entities.</h1>
<p>Welcome to the online database for Vintage Records, your local vinyl recordstore. Record profits last year
were up to $100,000. However, interest has grown in Vintage Records as vinyl record sales have increased in the United States. In 2023, our sales exceeded $750,000 in records sold. We could no longer could rely on keeping track of transactions by hand, as sales were projected to exceed $1M in 2024. The customer base has grown to be
more than 900,000 customers. In order to organize our collection of records and handle the
growth of the business, Vinyl Records is interested in developing a database driven website that
will record Orders of Vinyl Records to Customers. Customers can place orders to be picked up
at the store. Records at the store will be organized by Genre.</p>

<dl>
  <dt>Customers</dt>
  <dd>- Customers represent customers buying records. Customers encapsulates information such as first name, last name, email, and phone number. </dd>
  <dt>Orders</dt>
  <dd>- Orders represent the orders placed by customers. Orders encapsulates information such as customer who placed the order and the order date.</dd>
  <dt>Records</dt>
  <dd>- Records represent the records sold by Vintage Records. Records encapsulates information such as title, artist, quantity in stock, and price.</dd>
  <dt>Genres</dt>
  <dd>- Genres represent the genres of records sold by Vintage Records. Genres encapsulates information such as genre name and genre description.</dd>
  <dt>GenreRecords</dt>
  <dd>- GenreRecords represent relationship between genre and record that belongs to that genre. </dd>
  <dt>RecordOrders</dt>
  <dd>- RecordOrders represent relationship between order and quantity of records bought by customer in one order. </dd>
</dl>
</body>
